* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.7;
}

body {
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    width: 6.9rem;
    height: 5.8rem;
    font-size: 3rem;
    margin: .15rem .05rem .05rem .06rem;
}