* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.7;
}

body {
    box-sizing: border-box;
    font-size: 2rem;
    font-weight: 700;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.btn {
    width: 6.9rem;
    height: 5rem;
    font-size: 3rem;
    margin: .15rem .05rem .05rem .06rem;
    border: solid .1px rgba($color: #000000, $alpha: .3);
    &:hover {
        background-color: rgba($color: #fff, $alpha: .6);
    }
    &:active {
        background-color: rgba($color: #fff, $alpha: .45);
    }
}

.btn--greylight {
    background-color: rgb(231, 219, 219);
}

.btn--blue {
    background-color: rgb(158, 166, 235);
    &:hover {
        background-color: rgb(180, 186, 241);
    }
    &:active {
        background-color: rgb(158, 166, 235);
    }
}