.container {
    position: relative;
    background-color: #ccc;
    text-align: center;
    width: 30rem;
    margin: 19vh auto;
    height: 62vh;
    border-radius: .5rem;
    border: solid .2rem rgba($color: #000000, $alpha: .3);
    box-shadow: 0 0 1rem rgba($color: #000000, $alpha: .15);
}

.screen {
    position: absolute;
    background-color: #fff;
    width: 28rem;
    height: 15vh;
    font-size: 2.5rem;
    border-radius: .3rem;
    margin: 1.2rem 1.2rem .8rem .8rem;
    border: solid .2rem rgba($color: #000000, $alpha: .3);
    cursor: text;
    .screen__input {
        font-size: 4rem;
        line-height: 4rem;
        text-align: left;
        vertical-align: middle;
        width: 28rem;
        height: 4rem;
        padding-left: .5rem;
        letter-spacing: -.28rem;
    }
    .screen__result {
        position: absolute;
        font-size: 4rem;
        max-width: 28rem;
        line-height: 4rem;
        right: 0.25rem;
        letter-spacing: -.28rem;
        bottom: 0;
    }
}

.calculations__body {
    display: flex;
    position: absolute;
    margin: 20vh .85rem 1.8rem .58rem;
    width: 28.5rem;
    height: 40vh;
    border: solid .2rem rgba($color: #000000, $alpha: .15)
}

.calculations--left {
    margin-top: -.1rem;
    &__body {
        display: flex;
        flex-direction: column;
    }
    .body_row {
        display: flex;
    }
}

.calculations--right {
    margin-top: -.1rem;
    display: flex;
    flex-direction: column;
}