.container {
  position: relative;
  background-color: #ccc;
  text-align: center;
  width: 30rem;
  margin: 19vh auto;
  height: 62vh;
  border-radius: .5rem;
  border: solid 0.2rem rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.15); }

.screen {
  position: absolute;
  background-color: #fff;
  width: 28rem;
  height: 15vh;
  font-size: 2.5rem;
  border-radius: .3rem;
  margin: 1.2rem 1.2rem .8rem .8rem;
  border: solid 0.2rem rgba(0, 0, 0, 0.3);
  cursor: text; }
  .screen h2 {
    position: absolute;
    margin: -1.5rem 0 0 .2rem; }
  .screen h3 {
    font-size: 3.2rem;
    position: absolute;
    right: .2rem;
    bottom: -1rem; }

.calculations__body {
  display: flex;
  position: absolute;
  margin: 20vh .85rem 1.8rem .58rem;
  width: 28.5rem;
  height: 40vh;
  border: solid 0.2rem rgba(0, 0, 0, 0.15); }

.calculations--left {
  margin-top: -.1rem; }
  .calculations--left__body {
    display: flex;
    flex-direction: column; }

.calculations--right {
  margin-top: -.1rem;
  display: flex;
  flex-direction: column; }
